#contact {
    background-color: #081b29;
    padding: 2em 0;
    text-align: center;
  }
  
  .contact-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-links a {
    margin: 0 10px;
  }
  
  .contact-links img {
    width: 40px;
    height: 40px;
  }
  
  .contact-links img:hover {
    opacity: 0.8;
  }
  