.contact{

}


#business{
    font-size: 2em;
    padding-top: 1.3em;
padding-left: 1.6em;
}

.tagline{
 font-size: 18px;
 color: rgb(212, 202, 202);
 opacity: 0.8;

 padding-left: 3em;
 padding-top: 1em;
}