/* nav.css */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background:  #081b29;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    z-index: 1000;
  }
  
  .nav-left {
    margin-left: 1em;
    font-size: 1em;
font-weight: 700;
  }
  
  .nav-right {
    margin-right: 1em;
  }
  
  .nav-right nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-right nav ul li {
    margin-left: 2em;
  }
  
  .nav-right nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
  
    font-family: "Poppins", sans-serif;
  }
  
  .nav-right nav ul li a:hover {
    color: #007fbf;
  }
  

  /* Responsive adjustments */
@media (max-width: 600px) {
  .navbar {
    position: sticky;
    flex-direction: column; /* Revert to row layout on larger screens */
    justify-content: space-between; /* Align items to the sides */
    align-items: center; /* Center align items vertically */
  }

  .nav-left {
    margin-bottom: 0; /* Remove margin between nav-left and nav-right on larger screens */
  }

  .nav-right {
    margin-top: 0; /* Remove margin between nav-left and nav-right on larger screens */
  }

  .nav-right nav ul {
    flex-direction: row; /* Revert to row layout on larger screens */
    align-items: center; /* Center align items vertically */
  }

  .nav-right nav ul li {
    margin: 0; /* Reset margin for list items */
    margin-left: 1.1em; /* Add margin only on the left */
  }
}